input {
    width: 75%;
}

h1 {
    margin-left: 40px;
}

.form-fields {
    display: flex;
    margin: 15px;
}

button:hover {
    background-color:  #556B2F;
    color:white;
}

#history-display {
    margin-top: 40px;
}

.history-text {
    color: #827E7A; 
    text-align: center; 
    font-size: 22px;
    padding: 15px;
}

#clearBtn {
    margin: 30px 0 0 0 ;
}

#search-col {
    text-align: center;
}

h4{
    text-align: center;
    font-size: small;
}

h2 {
    text-decoration: underline;
    text-align: center;
}

span {
    text-align: center;
    font-size: 15px;
}

#cal-number {
    text-align: center;
    font-weight: bolder;
    font-size: 40px;
}

img {
    margin-left: 80px;
}

.history-btn {
    color: white;
    margin: 5px;
}
.fab {
    margin-left: 50px;
}

#rec-display{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 20px;
}

.card {
    flex: 1;
}

#nutrition-col {
    text-align: center;
    border-right: solid gray 1px;
    border-left: solid gray 1px;
    margin-top: 5px;
}

body {
    background-color: #FFE4C4;
    font-family: 'Lato', sans-serif;
}   

header {
    background-color: #556B2F;
    color: white;
}