input {
    width: 75%;

}
h1 {
    margin-left: 40px;
}
.form-fields {
    display: flex;
    margin: 15px;
}
button:hover {
    background-color:  #556B2F;
    color:white;
    width: 15%
}
#history-display {
    margin-top: 40px;
}

.history-text {
    color: #827E7A; 
    text-align: center; 
}
h4{
    text-align: center;
    font-size: small;

}
h2 {
    text-decoration: underline;
}
span {
    text-align: center;
    font-size: 15px;
}
#cal-number {
    text-align: center;
    margin-left: 80px;
    font-weight: bolder;
    font-size: 40px;
}
img {
    margin-left: 50px;
}

#rec-display{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 20px;
}
.card {
    flex: 1;
}
h2 {
    text-align: center;
}
/* 
.cell-4 {
    /* background-color:#F0DECF; */
    /* height: 200px; */
    /* border: 2px solid white; */
/* } */

body {
    background-color: #FFE4C4;
}   

header {
    background-color: #556B2F;
    color: white;
}

/* This is to just commit */